.qr-code-card {
  border: 2px solid yellow;
  margin: 30px;
}

.qr-code-head {
  border: 2px solid limegreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-body {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code-image {
  width: 350px;
  border-radius: 10px;
}
